html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda', cursive;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#game-board {

    width: 700px;
    height: 700px;
    background: url(../img/background.jpg) center center no-repeat;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}
.game-card {

    width: 150px;
    height: 150px;
    background: seashell url(../img/cardback.png) center center no-repeat;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

 .game-card.open {
    transform: rotateY(0);
    cursor: default;
}

.game-card.show {
    background: seashell;

}
.game-card.match {
    cursor: default;
    background: #D3CBC3;
}

.game-card.disabled {
    pointer-events: none;

}

.hidden-card {
    visibility: hidden;
}
/*
 * Styles for the Score Panel
 */
.star {
    width: 25px;
}

.moves {
    font-size: 2em;
}
.fa-repeat {
    font-size: 1.5em;
}

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.congrats-modal {
    visibility: hidden;
    position: absolute;
    padding: 20%;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    background-color: rgba(237,237,237,0.5);
    /*box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.4);*/
}

.modal-content {
    position: absolute;
    margin: auto;
    padding: 20px;
    width: 60%;
    height: 60%;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.modal-close {
    float: right;
    font-size: 2em;

}